<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-category">Main</li>
    <li class="nav-item">
      <a class="nav-link" href="{% url "finder:dashboard" %}">
        <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    {% if not request.user.is_staff %}
      {% if not request.user.is_tutor %}
        <li class="nav-item">
          <a class="nav-link" href="{% url "finder:book_session" %}">
            <span class="icon-bg"><i class="mdi mdi-contacts menu-icon"></i></span>
            <span class="menu-title">Book Session</span>
          </a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <span class="icon-bg"><i class="mdi mdi-crosshairs-gps menu-icon"></i></span>
          <span class="menu-title">Booked Sessions</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url "finder:pending_session" %}">Pending</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url "finder:terminated_sessions" %}">Ended/Terminated</a></li>
            </ul>
        </div>
      </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url "auth:verification" %} ">
          <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
          <span class="menu-title">Pending Verifications</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
          <span class="icon-bg"><i class="mdi mdi-chart-bar menu-icon"></i></span>
          <span class="menu-title">Sessions</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url "finder:pending_session" %}"> Pending </a></li>
            {% comment %} <li class="nav-item"> <a class="nav-link" href="#"> Ongoing </a></li> {% endcomment %}
            <li class="nav-item"> <a class="nav-link" href="{% url "finder:terminated_sessions" %}"> Ended/Terminated </a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "auth:users" %}">
          <span class="icon-bg"><i class="mdi mdi-account-supervisor menu-icon"></i></span>
          <span class="menu-title">Users</span>
        </a>
      </li>
      
      <li class="nav-item sidebar-user-actions">
        <div class="sidebar-user-menu">
          <a href="{% url "auth:logout" %}" class="nav-link"><i class="mdi mdi-logout menu-icon"></i>
            <span class="menu-title">Log Out</span></a>
        </div>
      </li>
    {% endif %}
    
  </ul>
</nav>