{% load static %}

<script src=" {% static 'assets/js/jquery-3.5.1.min.js' %} "></script>
<script src=" {% static 'assets/js/popper.min.js' %} "></script>
<script src=" {% static 'assets/js/bootstrap.min.js' %} "></script>


<script src=" {% static 'assets/vendors/js/vendor.bundle.base.js' %} "></script>
<script src=" {% static 'assets/js/off-canvas.js' %} "></script>
<script src=" {% static 'assets/js/hoverable-collapse.js' %} "></script>
<script src=" {% static 'assets/js/misc.js' %} "></script>