<div class="modal fade" id="reqConModal{{forloop.counter}}" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal content goes here, displaying additional information -->
            <div class="modal-header">
                <h5 class="modal-title text-dark font-weight-bold">Request Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <!-- Include details to display here -->
                <p class="text-dark">Kindly Read the tutor request detail before deciding an action</p>
                <form action="{% url "finder:session_action" req.session_id %}" method='post'>
                    {% csrf_token %}
                    <button name="reject" class="btn btn-danger btn-sm font-weight-medium auth-form-btn" type="submit">REJECT</button>
                    <button name="accept" class="btn btn-success btn-sm font-weight-medium auth-form-btn" type="submit">ACCEPT</button>
                </form>
            </div>
       
        </div>
    </div>
</div>
