{% extends "base.html" %}
{% load static %}

{% block modal-script %}{% include "partials/modal-scripts.html" %}{% endblock modal-script %}
{% block title %}Dashboard{% endblock title %}

{% block body %}
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% block navbar %}{% include "partials/_navbar.html" %}{% endblock navbar %}

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      
        {% block sidebar %}{% include "partials/_sidebar.html" %}{% endblock sidebar %}

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          
          <div class="row">
            <div class="col-md-12"> 
              <div class="tab-content tab-transparent-content">
                {% include "partials/messages.html" %}
                {% if sessions %}
                  {% if request.user.tutor %}
                    <div class="row">
                      {% for session in sessions %}
                          <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                              <div class="card">
                                  <div class="card-body text-center">
                                      <div class="row">
                                          <div class="col-12">
                                              <img src="{% static "assets/images/books.png" %}" style="border-radius: 100%" width="100" height="100" alt="tutor_img"/>
                                          </div>
                                          <div class="col-12">
                                            <p class="mb-2 mt-2 text-dark">with</p>
                                                  <h5 class="mb-2 text-dark">{{session.student.user.first_name}} {{session.student.user.last_name}}</h5> 
                                          </div>
                                      </div>
                                      
                                      <div class="row mt-2">
                                          <div class="col-6">
                                              <button type="button" class="btn btn" data-toggle="modal" data-target="#profileModal{{forloop.counter}}">
                                                  <p class="text-success">View Student Profile</p> 
                                              </button>
                                          </div>
                                          <div class="col-6">
                                              <button type="button" class="openForm btn btn" data-toggle="modal" data-target="#pendingRequestModal{{forloop.counter}}">
                                                  <p class="text-success">View Session Detail</p>                                                
                                              </button>
                                          </div>
                                      </div>

                                      <div class="row">
                                        <div class="col-12">
                                            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#terminateModal{{forloop.counter}}">Terminate</button>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          {% include "finder/modals/profile-modal.html" %}
                          {% include "finder/modals/pending-request-modal.html" %}
                          {% include "finder/modals/terminate-form.html" %}
                      {% endfor %}
                    </div>
                    {% else %}
                      <div class="row">
                        {% for session in sessions %}
                            <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <div class="row">
                                            <div class="col-12">
                                                <img src="{% static "assets/images/books.png" %}" style="border-radius: 100%" width="100" height="100" alt="tutor_img"/>
                                            </div>
                                            <div class="col-12">
                                              <p class="mb-2 mt-2 text-dark">with</p>
                                              <h5 class="mb-2 text-dark">{{session.tutor.user.first_name}} {{session.tutor.user.last_name}}</h5>
                                            </div>
                                        </div>
                                        
                                        <div class="row mt-2">
                                          <div class="col-6">
                                              <button type="button" class="btn btn" data-toggle="modal" data-target="#profileModal{{forloop.counter}}">
                                                  <p class="text-success">View Tutor Profile</p> 
                                              </button>
                                          </div>
                                          <div class="col-6">
                                              <button type="button" class="openForm btn btn" data-toggle="modal" data-target="#pendingRequestModal{{forloop.counter}}">
                                                  <p class="text-success">View Session Detail</p>                                                
                                              </button>
                                          </div>
                                        </div>

                                        <div class="row">
                                          <div class="col-12">
                                              <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#terminateModal{{forloop.counter}}">Terminate</button>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% include "finder/modals/profile-modal.html" %}
                            {% include "finder/modals/pending-request-modal.html" %}
                            {% include "finder/modals/terminate-form.html" %}
                        {% endfor %}
                      </div>
                    
                  {% endif %}
                  {% else %}
                    <div class="row">
                        <div class="col-12 grid-margin">
                          <div class="card">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-sm-12">
                                  <div class="d-flex justify-content-between align-items-center mb-4">
                                    {% if request.user.tutor %}
                                      <h4 class="card-title mb-0">You don't have any ongoing sessions. check your <a href="{% url "finder:pending_session" %}"> pending requests </a></h4>
                                    {% else %}
                                      <h4 class="card-title mb-0">You don't have any ongoing sessions. <a href="{% url "finder:book_session" %}"> Book a session </a></h4>
                                    {% endif %}
                                  </div> 
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
              
                  {% endif %}  
                     
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        {% include "partials/_footer.html" %}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

{% endblock body %}