{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block body %}
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% block navbar %}{% include "partials/_navbar.html" %}{% endblock navbar %}

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      
        {% block sidebar %}{% include "partials/_sidebar.html" %}{% endblock sidebar %}

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          
          <div class="row">
            <div class="col-md-12"> 
              <div class="tab-content tab-transparent-content">
                {% include "partials/messages.html" %}
                {% if sessions %}
                  {% if request.user.tutor %}
                  {% else %}
                    
                  {% endif %}
                  {% else %}
                    <div class="row">
                        <div class="col-12 grid-margin">
                          <div class="card">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-sm-12">
                                  <div class="d-flex justify-content-between align-items-center mb-4">
                                    {% if request.user.tutor %}
                                      <h4 class="card-title mb-0">You don't have any ongoing sessions. check your <a href=""> pending requests </a></h4>
                                    {% else %}
                                      <h4 class="card-title mb-0">You don't have any ongoing sessions. <a href="{% url "finder:book_session" %}"> Book a session </a></h4>
                                    {% endif %}
                                  </div> 
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
              
                  {% endif %}  
                     
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        {% include "partials/_footer.html" %}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

{% endblock body %}